@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');

body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 960px;
  width: 866.5px;
  margin: auto;
  background-image: url("./images/chalkboard_with_border.png");
  background-size: cover;
  border-radius: 20px;
}

#player-select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  color: white;
  font-size: 6em;
}

.player-choice {
  font-family: 'Love Ya Like A Sister', cursive;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

#player-data {
  display: flex;
  visibility: hidden;
  justify-content: space-between;
  width: 75%;
  font-size: 3em;
  color: white;
}

.score {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 1.2em;
}

#reset-container {
  font-family: 'Love Ya Like A Sister', cursive;
  display: flex;
  visibility: hidden;
  width: 75%;
  justify-content: flex-start;
  font-size: 3em;
  color: white;
}

#game-board {
  padding-top: 30px;
  padding-bottom: 30px;
  visibility: hidden;
}

.game-square {
  font-family: 'Love Ya Like A Sister', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  width: 190px;
  font-size: 15em;
  color: white;
}

.row-one, .row-two, .row-three {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#square-one, #square-two, #square-four, #square-five {
  border-right: 4px solid white;
  border-bottom: 4px solid white;
}

#square-three, #square-six {
  border-bottom: 4px solid white;
}

#square-seven, #square-eight {
  border-right: 4px solid white;
}

