@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');

body, html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: 'Love Ya Like A Sister', cursive;
}

.player-choice, .xAndO, #reset-button {
  cursor: pointer;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
  width: 45%;
  min-height: 480px;
  min-width: 320px;
  background-image: url("./images/chalkboard_with_border_resized.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
}

#player-select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  color: white;
  font-size: 6em;
  height: 100%;
  width: 100%;
}

.player-choice:hover {
  color: grey;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeInPlayAgain {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: .9;
    visibility: visible;
  }
}

.underline {
  border-bottom: 3px solid white;
}

#or {
  font-size: .5em;
}

#game-piece-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  color: white;
  font-size: 4em;
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  position: absolute;
}

#game-pieces {
  display: flex;
  flex-direction: row;
}

#game-pieces span:first-of-type {
  margin-right: 100px;
}

.xAndO {
  margin-top: 50px;
  color: grey;
  font-size: 2em;
}

.xAndO:hover {
  color: white;
}

#game-board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
}

#player-data {
  display: flex;
  visibility: hidden;
  justify-content: space-between;
  height: 12%;
  width: 90%;
  font-size: 3em;
  color: white;
  position: relative;
}

.score {
  font-size: 1.2em;
}

#reset-container {
  display: flex;
  visibility: hidden;
  height: 12%;
  width: 90%;
  justify-content: flex-start;
  font-size: 3em;
  color: white;
  position: relative;
  align-items:center;
}

#reset-button:hover {
  color: grey;
}

#game-board {
  height: 70%;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
  visibility: hidden;
  position: relative;
}

.game-square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
}

.square-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 800%;
  -moz-user-select: none;
}

.row-one, .row-two, .row-three {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 33%;
  width: 100%;
}

#square-one, #square-two, #square-four, #square-five {
  border-right: 4px solid white;
  border-bottom: 4px solid white;
}

#square-three, #square-six {
  border-bottom: 4px solid white;
}

#square-seven, #square-eight {
  border-right: 4px solid white;
}

#play-again {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  height: 100%;
  width: 100%;
  opacity: .9;
  visibility: hidden;
  background-image: url("./images/chalkboard_with_border_resized.gif");
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
}

#play-again-question {
  font-size: 6em;
  margin-bottom: 25px;
}

#play-again-yes {
  margin-right: 75px;
}

#play-again-yes, #play-again-no {
  font-size: 4em;
}

#play-again-yes:hover, #play-again-no:hover {
  cursor: pointer;
  color: grey;
}

.winner-one {
  animation: blinkBackground 1s .25s linear;
  color: #FDE58D;
}

.winner-two {
  animation: blinkBackground 1s .5s linear;
  color: #FDE58D;
}

.winner-three {
  animation: blinkBackground 1s .75s linear;
  color: #FDE58D;
}

@keyframes blinkBackground {
  0% {
    color: white;
  }
  100% {
    color: #FDE58D;
  }
}

@media (max-height: 900px) {
  .square-content {
    font-size: 400%;
  }
  #player-data, #reset-container {
    font-size: 2.5em;
  }
}

@media (max-height: 500px) {
  .square-content {
    font-size: 300%;
  }
}

@media (max-width: 1600px) {
  #player-select {
    font-size: 5em;
  }
}

@media (max-width: 1400px) {
  #player-select {
    font-size: 4em;
  }
  #game-piece-select {
    font-size: 3em;
  }
  #player-data, #reset-container {
    font-size: 2.5em;
  }
  #play-again-question {
    font-size: 4.5em;
  }
  #play-again-yes, #play-again-no {
  font-size: 3.5em;
  }
}

@media (max-width: 1200px) {
 .square-content {
    font-size: 400%;
  }
  #player-data {
    font-size: 2em;
  }
}

@media (max-width: 1000px) {
  #player-select {
    font-size: 3em;
  }
  #game-piece-select {
    font-size: 2em;
  }
  #play-again-question {
    font-size: 3em;
  }
  #play-again-yes, #play-again-no {
  font-size: 2.5em;
  }
}

@media (max-width: 900px) {
  #player-data, #reset-container {
    font-size: 1.5em;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    #game-container {
      height: 100%;
      width: 100%;
    }
}